body {
    background: url("img/Untitled_Artwork 2.png");
}


.home {
    width: 90px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
}
.home-cont {
    left: 20%;
    top: 8%;
    width: 90px;
    height: 90px;
}

.home:hover {
    opacity: 50%;
}

.about-page {
    font-family: "Apple LiGothic";
    font-size: 90px;
    font-weight: bold;
    color: gold;
    text-align: center;
    margin-top: -1%;
    margin-bottom: 5%;
}

.blurb2 {
    text-align: left;
    line-height: 1.6;
    font-family: "Apple LiGothic";
    font-size: 20px;
    font-weight: bold;
    color: azure;
    margin-top: -20px;
    margin-left: 50%;
    margin-bottom: 80px;
}

.IZZI {
    font-family: "Apple LiGothic";
    font-size: 60px;
    font-weight: bold;
    color: azure;
    text-align: left;
    margin-left: 50%;
    margin-top: 12%;
}

.pic {
    position: absolute;
    width: 600px;
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
}

.bottom-space {
    position: absolute;
    margin-top: 18%;
    height: 4%;
    width: 100%;
}




.tiktok {
    width: 80px;
}

.tiktok-container {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 77%;
}

.tiktok-container:hover .tiktok{
    transition: opacity;
    opacity: 50%;
}

.insta {
    width: 80px;
    margin-bottom: 5px;
}

.insta-container{
    position: absolute;
    margin-left: 82%;
    width: 100px;
    height: 100px;
}

.insta-container:hover .insta{
    transition: opacity;
    opacity: 50%;
}

@media screen and (max-width: 1405px) {
    .pic {
        width: 40%;
        margin-top: 20%;
    }
    .tiktok {
        width: 80px;
        pointer-events:none;
    }

    .tiktok-container {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-left: 73%;
    }

    .tiktok-container:hover .tiktok{
        transition: opacity;
        opacity: 50%;
    }

}


@media screen and (max-width: 900px){
    .pic {
        width: 60%;
        margin-left: 20%;
        margin-top: 22%;
    }
    .about-page {
        font-family: "Apple LiGothic";
        font-size: 74px;
        font-weight: bold;
        color: gold;
        text-align: left;
        margin-bottom: -5%;
        margin-left: 35%;
    }

    .blurb2 {
        text-align: center;
        line-height: 1.6;
        font-family: "Apple LiGothic";
        font-size: 20px;
        font-weight: bold;
        color: azure;
        padding: 10%;
        margin-left: 1%;
        margin-bottom: 80px;
        margin-top: -10%;
    }

    .IZZI {
        font-family: "Apple LiGothic";
        font-size: 60px;
        font-weight: bold;
        color: azure;
        text-align: left;
        margin-top: 93%;
        margin-left: 33%;
    }


    .tiktok {
        width: 80px;
        pointer-events:none;
    }

    .tiktok-container {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-left: 30%;
    }

    .tiktok-container:hover .tiktok{
        transition: opacity;
        opacity: 50%;
    }

    .insta {
        width: 80px;
        margin-bottom: 5px;
        pointer-events:none;
    }

    .insta-container{
        position: absolute;
        margin-left: 49%;
        width: 100px;
        height: 100px;
    }

    .insta-container:hover .insta{
        transition: opacity;
        opacity: 50%;
    }
}